.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app > div {
  flex: 1;
}

.app-grid::-webkit-scrollbar {
  display: none;
}
